<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
        
<beans>
	<!-- 消息消费工厂 -->
	<bean id="consumerFactory" class="com.yihaodian.architecture.jumper.consumer.impl.ConsumerFactoryImpl" factory-method="getInstance" />
	
	<!-- 消费配置信息 -->
	<bean id="consumerConfig" class="com.yihaodian.architecture.jumper.consumer.ConsumerConfig">
		<property name="threadPoolSize">
			<value>10</value>
		</property>
		<!-- 消费端采取应答模式 ,消息至少发送一次-->
		<property name="consumerType">
			<value>CLIENT_ACKNOWLEDGE</value>
		</property>
	</bean>
	
	<bean id="gosOrderCreateTopic" class="com.yihaodian.architecture.jumper.common.message.Destination" factory-method="topic">
		<constructor-arg><value>gos_create_so_local</value></constructor-arg>
	</bean>
	
	<!-- 订单生成消息 -->
	<bean id="gosOrderCreateConsumerClient" factory-bean="consumerFactory" factory-method="createConsumer" init-method="start">
		<constructor-arg>
			<ref bean="gosOrderCreateTopic" />
		</constructor-arg>
		<constructor-arg>
			<value>${front-gos-consumer}</value>
		</constructor-arg>
		<constructor-arg>
			<ref bean="consumerConfig"/>
		</constructor-arg>
		<property name="listener">
			<ref bean = "gosCreateMessageListener"/>
		</property>
	</bean>
	
	<!-- 订单创建消息Listener -->
	<bean id="gosCreateMessageListener" class="com.yihaodian.gos.jumper.JumperMessageListener">
		<property name="timeTaskService" ref="gosTimeTaskService"/>
	</bean>
	
</beans>